
/*
    +-------------------+
    | Valeur par défaut |
    +-------------------+
*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

p {
    font-family: 'Lato', sans-serif;
    color: #666666;
    line-height: 1.5em;
    color: #666666;
}

li {
    text-align: left;
    list-style: none;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    color: #666666;
    letter-spacing: 0.03em;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 0.3em;
}

strong {
     font-weight: 900;
     color: #00695c;
}

span {
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 0.5em;
    letter-spacing: 0.1em;
}


hr {
    border: none;
    border-top: 0.2em solid #00695c;
    overflow: visible;
    text-align: left;
    width: 5em;
    margin-top: 0.4em;
}

/*
    +-------------------------+
    | HEADER : Photo et Titre |
    +-------------------------+
*/

header {
    display: flex;
    align-items: stretch;
    background-color: white;
}

#portrait {
    display: flex;
    flex-wrap: wrap;
    background-color: #00695c;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    
}

#portrait img {
    border-radius: 100%;
    flex-shrink: 1;
    width: 60%;
    height : auto;
    border: 5px solid rgba(0,0,0,0.1);
    margin : 2%;
    align-items : center;
}

#identite {
    display: flex;
    padding: 4%;
    background-color: white;
    height: 100%;
    align-items: center;
}

/*
    +------+
    | MAIN |
    +------+
*/

main {
    display: flex;
    flex-wrap: wrap;
}

/*
    +-------------+
    | MENU GAUCHE |
    +-------------+
*/

aside {
    display: flex;
    background-color: #00695c;
    flex-direction: column;
    min-width: 150px;
    color: #00695c;
    text-align: center;
    justify-content: space-between;
}

 aside h2 {
    background-color: #263238;
    font-weight: bolder;
    }

aside ul, aside p {
    color: white;
    padding: 8%;
    text-align: justify;
}

aside li {
    margin: 0.8em;
}

#propos {
    flex-grow: 30;
}


#icons {
    display: flex;
    justify-content: space-between;
    margin: 8%;
}

aside i {
    font-size: 1.5em;
    color: white;
    height: 2em;
    width: 2em;
    vertical-align: baseline;
    border: 0.1em solid white;
    border-radius: 100%;
    padding: 1%;
    text-align: center;
    align-items: center;
}

i:before {
    vertical-align: -webkit-baseline-middle;
}

/*
    +----------------------------------------------------------------+
    | CONTENU PRINCIPAL : Formation, expériences et redcommandations |
    +----------------------------------------------------------------+
*/

section {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
}

article {
    display : flex;
    flex-wrap : wrap;
    flex-direction: row;
}

/* Picto et titre*/

.picto_titre {
    display: flex;
    width: 100%;
    border-bottom: 0.2em solid;
    border-bottom-color: #00695c;
}

 .picto_titre i {
    color: #00695c;
    font-size: 1.8em;
    padding-right: 0.4em;
    vertical-align : middle;
    }

/* Dates*/

.date_description {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0%;
    width: 100%;
}

article ul {
    width: 30%;
    color: #666666;
    padding-right:4%;
}

/* Description*/

.date_description i {
    color: #00695c;
    font-size: 0.8em;
    vertical-align: super;
    line-height: 0.5em;
}

.description {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #666666;
    width: 70%;
}


.description strong, .description p {
    color: #666666;
    font-size: medium;
    font-weight: normal;
    padding-bottom: 2%;
}

.description span {
    font-size: larger;
    padding-bottom: 2%;
}

/* Recommandations*/

#recommandations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recommandation {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #666666;
    line-height: 1.5em;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 0%;
}

/* Pour que la dernière recommandation de la liste n'ait pas de marge à droite*/
.recommandation:last-child {
    margin-right:0%;
}

/*style de texte des recommandation*/
.nom_recommandation, .poste_recommandation, .telephone_recommandation {
    font-weight: bold;
}

.nom_recommandation {
    text-transform: uppercase; 
}

