/*
    +----------------------+
    | Adaptation STRUCTURE |
    +----------------------+
*/

/*en mobile en pass en une seule colonne*/
#portrait, aside, #identite, section {
        width: 100%;
    }

/*On passe le header en colonne pour avoir la photo puis le titre*/
header {
    flex-wrap: wrap;
    height: auto;
}

/*aside passe à la fin parce qu'il est moins important */
main {
    flex-direction: column-reverse;
}



/*
    +---------------------+
    | Adaptation VISUELLE |
    +---------------------+
*/

/*Changement taille texte et marge*/
h1 {
    font-size: 8em;
    line-height: 1.1em;
    margin-bottom: 2%;
}

h2 {
    font-size: 4em;
}

span {
    font-size:4.5em;
    line-height: 1em;
}

p, li {
    font-size: 3em;
}

hr {
    border-top: 0.5em solid #00695c;
}

#identite {
    padding: 4%;
}

#portrait {
    padding-bottom: 4%;
    padding-top: 4%;
}


article {
    margin-top: 4%;
    margin-bottom : 4%;
}


aside i {
    font-size: 6.2em;
    height: 2.5em;
    width: 2.5em;
    border: 0.1em solid white;
    padding: 3%;
}

.picto_titre {
    border-bottom: 0.5em solid;
    margin-bottom: 4%;
}

.picto_titre i {
    font-size: 4em;
    padding-right: 0.4em;
}

.description span, .description strong, .description p, .recommandation {
    font-size: 3em;
    text-align: justify;
    padding-bottom: 4%;
}

