/*
    +-------------------------------+
    | MOBILE : Adaptation STRUCTURE |
    +-------------------------------+
*/

@media screen and (min-width: 1px) and (max-width: 812px) {
    /*en mobile en pass en une seule colonne*/
    #portrait, aside, #identite, section, article ul, .description{
        width: 100%;
    }

    /*On passe le header en colonne pour avoir la photo puis le titre*/
    header {
        flex-wrap: wrap;
        height: auto;
    }

    /*la date et la décription de l'article passent en colonne pour plus de lisibilité */
    .date_description {
        display: flex;
        flex-direction: column;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    /*aside passe à la fin parce qu'il est moins important */
    main {
        flex-direction: column-reverse;
    }


/*
    +---------------------+
    | Adaptation VISUELLE |
    +---------------------+
*/
        /*Changement taille texte et marge*/
    h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-bottom: 2%;
    }

    h2 {
        font-size: 1.5em;
        letter-spacing :0.02em;
        padding-right: 0%;
        padding-left: 0%;

    }

    h3 {
        font-size: 1.3rem;
        padding-top : 4%;
    }

    p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    li {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    #identite {
        padding: 4%;
    }

    #portrait {
        padding-bottom: 4%;
        padding-top: 4%;
    }

    #profession em {
        border-bottom-width: 0.25rem;
    }

    #profession {
        font-size: 2rem;
        line-height: 2.5rem;
    }
       
    aside i {
        font-size: 2.5em;
        height: 2.3em;
        width: 2.3em;
        border: 0.1em solid white;
        padding: 3%;
    }

    article {
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .picto_titre {
        border-bottom-width: 0.25rem;
        margin-bottom: 4%;
    }

    .picto_titre i {
        font-size: 1.8rem;
        padding-right: 3%;
    }

    .description h3, .description strong, .recommandation {
        font-size: 1.3rem;
        text-align: justify;
        padding-bottom: 4%;
        line-height: 2rem;
    }

    article li {
        padding-bottom: 2%;
        padding-right: 0%;
    }

    .date_description i {
        font-size: 1rem;
    }

    .recommandation {
        padding-right: 0%;
    }
}


